{% extends 'site_layout.html.j2' %}
{% set title="Index" %}

{% block content %}
<h1 class="center-align">Embed Discord like a<br><strong>True Titan</strong></h1>
<p class="flow-text center-align">Add <strong>Titan</strong> to your Discord server to create your own personalized chat embed!</p>
<a class="waves-effect waves-light btn btn-large center_content" href="{{ url_for('user.dashboard') }}">Start here!</a>
<br /><br />
{% endblock %}
